manifest {
    description = 'Simple nextflow wrapped around irma container'
}

params.accession = 'SRR11954161'
params.module = 'CoV'
params.read1 = 'https://github.com/danjgates/irma-nf/blob/main/test/SRR11954161_1.fastq'
params.read2 = 'https://github.com/danjgates/irma-nf/blob/main/test/SRR11954161_2.fastq'

docker.enabled = true
process.container = 'cdcgov/irma'